* {
    font-family:'Times New Roman', Times, serif;
    background-color: rgb(240, 240, 240);
}

/*I want the hyperlinks to look better*/
a {
    color: black;
    background-color: transparent;
}

a:hover {
    filter: brightness(85%);
}

.header {
    background-color: rgb(137, 137, 250);
    width: 100%;
}

.header nav {
    background-color: rgb(137, 137, 250);
    display: flex;
    justify-content: center;
}

.header nav li {
    background-color: rgb(137, 137, 250);
    list-style: none;
    margin: 35px;
    font-size: 25px;
}

#sneakyDiv {
    display: none;
}

#sneakyPic {
    width: 250px;
    height: 250px;
    margin: 15px;
    flex: 1 1 200px;
}


/*my image displayed*/
#profPic {
    display: flex;
    width: 250px;
    height: 250px;
    margin: 15px;
    float: left;
    flex: 1 1 200px;
}

.aboutMe {
    font-size: 20px;
    display: flex;
    justify-content: center;
}

/*this is for the about me description*/
#boxDiv {
    /*border: 5px solid black;*/
    width: 80%;
    float: center;
    margin: 10px;
    display: block;
}

.myWork {
    text-align: center;
}

/*generic boxes for the 'my work' part to make it look nicer*/
#myWorkBoxLeft {
    display: block;
    text-align: center;
    font-size: 25px;
    background-color: lightcoral;
    width: 35%;
    height: 100px;
    padding: 30px;
    border: 3px solid black;
    margin: 3px;
    float: left;
}

/*same as above comment for myWorkBoxLeft*/
#myWorkBoxRight {
    display: block;
    text-align: center;
    font-size: 25px;
    background-color: lightblue;
    width: 35%;
    height: 100px;
    padding: 30px;
    border: 3px solid black;
    margin: 3px;
    float: right;
}

.footer {
    background-color: rgb(137, 137, 250);  
    position: absolute;
    text-align: center;
    display: block;
    bottom: 0;
    width: 100%;
}

.footer h3 {
    background-color: rgb(137, 137, 250);
    text-align: center;
}

.footer ul {
    background-color: rgb(137, 137, 250);
}

.footer ul li {
    background-color: rgb(137, 137, 250);
    display: inline;
    margin: 10px;
    font-size:20px;
    text-align: center;
}

@media screen and (max-width: 900px){

    body {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        background-color: red;
    }

    #boxDiv {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 0px;
    }

    aside {
        display: none;
    }

    #sneakyDiv {
        display: flex;
        justify-self: center
    }

    #profPic {
        float: none;
        display: flex;
        justify-content: center;
    }

    .header {
        padding: 0px;
        height: auto;
    }

    .header nav {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0px;
    }

    .header nav li {
        margin: 10px;
    }

    .footer {
        position: unset;
        display: flex;
        justify-content: center;
    }

    .footer h3 {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .footer ul li {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

}