
/*we just learned about vars, so I'm going through and replacing some repeating instances with vars*/
:root {
    --BG: background-color: rgb(137, 137, 250);
    --OH: 100%;
    --eightO: 80%;
    --twoOpx: 20px;
}

* {
    font-family:'Times New Roman', Times, serif;
    background-color: rgb(240, 240, 240);
}

/*I want the hyperlinks to look better*/
a {
    color: black;
    background-color: transparent;
}

a:hover {
    filter: brightness(85%);
}

body {
    min-height: 400px;
    margin-bottom: 100px;
    clear: both;
 }

.header {
    background-color: var(--BG);
    width: var(--OH);
}

.header nav {
    background-color: var(--BG);
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

.header nav li {
    background-color: var(--BG);
    list-style: none;
    margin: 35px;
    font-size: 25px;
}

.header nav li:hover {
    opacity: var(--eightO);
}

#sneakyDiv {
    display: none;
}

#sneakyPic {
    width: 250px;
    height: 250px;
    margin: 15px;
    flex: 1 1 200px;
}

/*my image displayed*/
#profPic {
    display: flex;
    width: 250px;
    height: 250px;
    margin: 15px;
    float: left;
    flex: 1 1 200px;
}

/*was recommended to use EMs here, but I'll figure that out later on my own time*/

.aboutMe {
    font-size: var(--twoOpx);
    display: flex;
    justify-content: center;
}

/*this is for the about me description*/

#boxDiv {
    /*border: 5px solid black;*/
    width: var(--eightO);
    float: center;
    margin: 10px;
    display: block;
}

/*for the big picture*/
.myBigWork {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 70%;
    height: 600px;
}

.myBigWork a {
    display: flex;
    flex-wrap: wrap;
    height: inherit;
    width: var(--OH);
}

.myBigWork a img {
    width: var(--OH);
    height: var(--OH);
}

#myBigWorkImage {
    display: flex;
    width: 70%;
    height:550px;
    margin: 10px;
}

.myBigWork:hover {
    opacity: var(--eightO);
    cursor: pointer;
}

.myWork {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/*show and tell (MTG reference) is for extra work to make a pic appear when hovered over*/
.show {
    display: flex;
    justify-content: center;
    border: 1px solid black;
}

.andTell {
    display: none;
    align-items: center;
}

.show:hover + .andTell {
    display: flex;
    flex-direction: column;
}

.andTell:hover {
    display:flex;
    justify-content: center;
}

/*test is used for the myWork section for the images*/
.test{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.test a {
   display: flex;
   flex-wrap: wrap;
    height: 245px;
    width: 40%;
    margin: 1px;
}

.test a img {
   width: var(--OH);
   height: var(--OH);
}

/*FAQ, question, and answer classes are extra*/
.FAQ {
    display: flex;
    width: var(--OH);
    justify-content: center;
    text-align: center;
}

.question {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    margin-right: 10px;
}

.question p {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.answer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.answer p {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.footer {
    background-color: var(--BG);  
    position: fixed;
    text-align: center;
    display: flex;
    bottom: 0;
    justify-content: center;
    width: var(--OH);
}

.footer h3 {
    background-color: var(--BG);
    text-align: center;
}

.footer ul {
    background-color: var(--BG);
    display: flex;
    justify-content: center;
    
}

.footer ul li {
    background-color: var(--BG);
    list-style: none;
    margin: 5px;
    font-size:var(--twoOpx);
    text-align: center;
}

@media screen and (max-width: 900px){

    body {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        min-height: auto;
        margin-bottom: 10px;
    }

    #boxDiv {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        width: var(--OH);
        margin: 0px;
    }

    /*aside, sneakyDiv, and profPic are set so that prof pic disappears and sneakyDiv appears when on mobile*/
    aside {
        display: none;
    }

    #sneakyDiv {
        display: flex;
        justify-self: center
    }

    #profPic {
        float: none;
        display: flex;
        justify-content: center;
    }

    .myBigWork {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: var(--OH);
        height: 600px;
    }

    .test a {
        display: flex;
        flex-wrap: wrap;
        height: 245px;
        width: var(--OH);
        margin: 1px;
     }

    .header {
        padding: 0px;
        height: auto;
    }

    .header nav {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0px;
    }

    .header nav li {
        margin: 10px;
    }

    
    .footer {
        position: unset;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: auto;
    }

    .footer h3 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column;
    }

    .footer ul li {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: var(--twoOpx);
    }
    
}