* {
    font-family:'Times New Roman', Times, serif;
    background-color: rgb(240, 240, 240);
}

/*I want the hyperlinks to look better*/
a {
    color: black;
    background-color: transparent;
}

a:hover {
    filter: brightness(85%);
}

body {
    min-height: 400px;
    margin-bottom: 100px;
    clear: both;
 }

.header {
    background-color: rgb(137, 137, 250);
    width: 100%;
}

.header nav {
    background-color: rgb(137, 137, 250);
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

.header nav li {
    background-color: rgb(137, 137, 250);
    list-style: none;
    margin: 35px;
    font-size: 25px;
}

#sneakyDiv {
    display: none;
}

#sneakyPic {
    width: 250px;
    height: 250px;
    margin: 15px;
    flex: 1 1 200px;
}


/*my image displayed*/
#profPic {
    display: flex;
    width: 250px;
    height: 250px;
    margin: 15px;
    float: left;
    flex: 1 1 200px;
}

.aboutMe {
    font-size: 20px;
    display: flex;
    justify-content: center;
}

/*this is for the about me description*/
#boxDiv {
    /*border: 5px solid black;*/
    width: 80%;
    float: center;
    margin: 10px;
    display: block;
}

.myBigWork {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    height: 600px;
}

.myBigWork a {
    display: flex;
    flex-wrap: wrap;
    height: inherit;
    width: 100%;
}

.myBigWork a img {
    width: 100%;
    height: 100%;
}

#myBigWorkImage {
    display: flex;
    width: 80%;
    height:550px;
    margin: 10px;
}

.myBigWork:hover {
    opacity: 80%;
    cursor: pointer;
}

.myWork {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.myWorkImage {
    display: flex;
    width: 40%;
    height: 245px;
    margin-left: 10px;
    margin-top: 1px;
   
}

.myWorkImage:hover {
    opacity: 80%;
    cursor: pointer;
}

.show {
    display: flex;
    justify-content: center;
}

.andTell {
    display: none;
    align-items: center;
}

.show:hover + .andTell {
    display: flex;
    flex-direction: column;
}

.andTell:hover {
    display:flex;
    justify-content: center;
}

.test{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.test a {
   display: flex;
   flex-wrap: wrap;
    height: 245px;
    width: 40%;
    margin: 1px;
}

.test a img {
   width: 100%;
   height: 100%;
}

.FAQ {
    display: flex;
    justify-content: center;
}

/*generic boxes for the 'my work' part to make it look nicer
may delete*/
#myWorkBoxLeft {
    display: block;
    text-align: center;
    font-size: 25px;
    background-color: lightcoral;
    width: 35%;
    height: 100px;
    padding: 30px;
    border: 3px solid black;
    margin: 3px;
    float: left;
}

/*same as above comment for myWorkBoxLeft
may delete*/
#myWorkBoxRight {
    display: block;
    text-align: center;
    font-size: 25px;
    background-color: lightblue;
    width: 35%;
    height: 100px;
    padding: 30px;
    border: 3px solid black;
    margin: 3px;
    float: right;
}

.footer {
    background-color: rgb(137, 137, 250);  
    position: fixed;
    text-align: center;
    display: flex;
    bottom: 0;
    justify-content: center;
    width: 100%;
}

.footer h3 {
    background-color: rgb(137, 137, 250);
    text-align: center;
}

.footer ul {
    background-color: rgb(137, 137, 250);
    display: flex;
    justify-content: center;
    
}

.footer ul li {
    background-color: rgb(137, 137, 250);
    list-style: none;
    margin: 5px;
    font-size:20px;
    text-align: center;
}

@media screen and (max-width: 900px){

    body {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        min-height: auto;
        margin-bottom: 10px;
    }

    #boxDiv {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 0px;
    }

    aside {
        display: none;
    }

    #sneakyDiv {
        display: flex;
        justify-self: center
    }

    #profPic {
        float: none;
        display: flex;
        justify-content: center;
    }

    .myWorkImage {
        width: 100%;
        height: 245px;
    }
    
    #myBigWorkImage {
        display: flex;
        width: 100%;
        height: 600px;
        margin: 10px;
    }

    .test a {
        display: flex;
        flex-wrap: wrap;
        height: 245px;
        width: 100%;
        margin: 1px;
     }

    .header {
        padding: 0px;
        height: auto;
    }

    .header nav {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0px;
    }

    .header nav li {
        margin: 10px;
    }

    
    .footer {
        position: unset;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: auto;
    }

    .footer h3 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column;
    }

    .footer ul li {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
    }
    
}